#display{
    font-size: 22pt;
    text-align: center;
    background-color: grey;
    padding: 50px 50px;
    margin: 5px 5px;
    resize: none;
    width: 16%;
}

.number-group{
    margin: 5px 50px;
}

.btn-group button{
    text-align: center;
    background-color: rgb(144, 189, 192);
    border: 20px black;
    color: black;
    padding: 15px 30px;
    margin: 5px 5px;
    cursor: pointer;
}

.operator-group button{
    display: inline-flex;
}

.btn-group button:focus {
    background-color: red;
}

